@model ExampleViewModel
@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}

<form asp-action="DemoSubmit" asp-controller="Home">
    <input asp-for="TWExampleDateString" id="ExampleDate" type="text" class="form-control" required alt="範例時間轉換">
    <input asp-for="TWExampleDateWithTimeString"  id="ExampleDateWithTime" type="text" class="form-control" alt="範例時間轉換">

    <button type="submit">送出</button>
</form>
@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function ()
        {
            $("#ExampleDate").taiwanDatepicker();
            $("#ExampleDateWithTime").taiwanDatepickerWithTime();
        });
    </script>
}
